.navbar {
    height: 60px;
    background: #c19046;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid #e89110;
    border-top: 5px solid #e89110;
  }
  
  .menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .nav-link:hover {
    background: #e89110;
  }
  
  .nav-link.active {
    background: #e5240a;
    color: white;
  }

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }

  .nav-links {
    display: none;
  }

  .menu-btn {
    font-size: 18px;
  }
}
  
  