.sidebar {
    width: 220px;
    height: 100vh;
    background: #0f172a;
    position: fixed;
    top: 60px;
    left: -220px;
    padding: 20px;
    transition: 0.3s;
}

.sidebar.open {
    left: 0;
}

.side-link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    padding: 5px;
}

.side-link:hover {
    background: #e89110;
    padding: 5px;
    border-radius: 3px;
}

.side-link.active {
    background: #e5240a;
    color: white;
    padding: 5px;
    border-radius: 3px;
}